{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "next"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "ignorePatterns": ["**/data-access-layer/sanity/generated-schema.ts"],
  "rules": {
    "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ]
  }
}
